@import "tailwindcss";
@font-face {
  font-family: 'Comfortaa';
  src: url('/Comfortaa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Comfortaa', sans-serif;
}


.embla {
  /* overflow: hidden; */
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 40%;
  width: 320px;
  max-width: 320px;
  min-width: 320px;
  margin: 0 12px;
  transition: none !important;
  border: 3px solid rgba(255, 0, 0, 0.70);
  border-radius: 32px;
}

@keyframes soft-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-2px);
  }
}

.btn-animate {
  animation: soft-bounce 2s infinite ease-in-out;
}

.imgCard {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}